<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
    <title>Transforma tu mundo🌎 &#8211; Twogether</title>
    <!-- Add any additional stylesheets or scripts here -->
</head>

<body>

    <div class="container-xxl h-100 d-flex flex-column align-items-center justify-content-center">
        <form class="my-3 form-control text-light" method="POST" id="formEnvio" style="background-color: #2E318E;">
          <div class="mb-3">
              <label for="nombreCompleto" class="form-label">✅ Nombre completo:</label>
              <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" placeholder="Nombres y apellidos" required>
          </div>
          <div class="mb-3">
              <label for="paisResidencia" class="form-label">✅ País de residencia:</label>
              <select class="form-select" id="paisResidencia" name="paisResidencia" required>
                  <option value="CO">Colombia</option>
                  <option value="EEUU">EEUU</option>
                  <option value="Mexico">Mexico</option>
                  <option value="España">España</option>
                  <option value="Alemania">Alemania</option>
                  <option value="Canada">Canada</option>
                  <option value="Francia">Francia</option>
                  <option value="Brasil">Brasil</option>
                  <option value="Italia">Italia</option>
                  <option value="Belgica">Bélgica</option>
                  <!-- Puedes agregar más opciones de países según sea necesario -->
              </select>
          </div>
          <div class="mb-3">
              <label for="numeroDocumento" class="form-label">✅ Número del Documento de Identificación:</label>
              <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" placeholder="Cédula, DNI, ID, driver licence" required>
          </div>
          <div class="mb-3">
              <label for="numeroContacto" class="form-label">✅ Número contacto:</label>
              <input type="text" class="form-control" id="numeroContacto" name="numeroContacto" placeholder="Sin indicativo de país, preferiblemente con WhatsApp" required>
          </div>
          <div class="mb-3">
              <label for="correoElectronico" class="form-label">✅ Correo electrónico:</label>
              <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" placeholder="Personal o empresarial" required>
          </div>
          <div class="mb-3">
              <label for="fechaNacimiento" class="form-label">✅ Fecha de nacimiento:</label>
              <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
          </div>
          <div class="mb-3">
              <label for="nombreReferidor" class="form-label">✅ Nombre completo de la persona que te invitó:</label>
              <input type="text" class="form-control" id="nombreReferidor" name="nombreReferidor" placeholder="Nombres y apellidos" required>
          </div>
          <div class="mb-3">
              <label for="idReferidor" class="form-label">✅ Escribe el ID Twogether de quien te invitó:</label>
              <input type="text" class="form-control" id="idReferidor" name="idReferidor" placeholder="Recuerda revisar el mensaje de invitación" required>
          </div>
          <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="pasosCumplidos" name="pasosCumplidos" required>
              <label class="form-check-label" for="pasosCumplidos">He cumplido los pasos descritos anteriormente.</label>
          </div>
          <button type="button" class="btn btn-warning form-control" id="enviar" style="background-color: #F18F15;">Quiero ser parte de la comunidad Twogether</button>
          
           <!-- Modal -->
           <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Validaciones Twogether</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Espera mientras validamos el IDTwogether que ingresaste: <span id="text-input"></span>
                  <br>
                  <div id="spinner" class="spinner-border text-success text-center my-auto mx-auto" role="status">
                      <span class="visually-hidden">Loading...  </span>
                  </div>
  
                  
                </div>
                <div class="modal-footer" id="registro">
                  <button type="button" class="btn btn-warning form-control" data-bs-dismiss="modal" >Registarme</button>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Add any additional scripts here -->
<span class="fw-bolder"></span>
<script>
  
  const enviar = document.querySelector("#enviar");
  const loadingModal = new bootstrap.Modal(document.getElementById('exampleModal'));

  enviar.addEventListener("click", () => {
    
    const registro = document.querySelector("#registro");
    const idReferidor = document.querySelector("#idReferidor").value;
    const textInput = document.querySelector("#text-input");
    
    registro.innerHTML = "";
    textInput.innerHTML = `<span class="fw-bolder text-center"> ${idReferidor}</span>`;

    const nombreCompleto = document.getElementById('nombreCompleto').value;
    const paisResidencia = document.getElementById('paisResidencia').value;
    const numeroDocumento = document.getElementById('numeroDocumento').value;
    const numeroContacto = document.getElementById('numeroContacto').value;
    const correoElectronico = document.getElementById('correoElectronico').value;
    const fechaNacimiento = document.getElementById('fechaNacimiento').value;
    const nombreReferidor = document.getElementById('nombreReferidor').value;
    const pasosCumplidos = document.getElementById('pasosCumplidos').checked;
    const spinner = document.querySelector("#spinner");
    
     // Validar que todos los campos estén llenos
     if (
        !nombreCompleto ||
        !paisResidencia ||
        !numeroDocumento ||
        !numeroContacto ||
        !correoElectronico ||
        !fechaNacimiento ||
        !nombreReferidor ||
        !idReferidor ||
        !pasosCumplidos
    ) {
        // Al menos un campo está vacío, mostrar un mensaje de error o realizar otras acciones según sea necesario
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Debes llenar todos los campos",
        });
        // Terminar la ejecución de la función
        return;
    }
   
    spinner.style.display = "block"; 
   loadingModal.show();

    const url = `/getuser?userID=${idReferidor}`;
    // Realizar la solicitud GET usando fetch
    fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
        // Puedes agregar más encabezados según sea necesario
        },
      })
      .then(response => response.json()) // Parsear la respuesta como JSON
      .then(data => {
        console.log(data)
        if (data.code == 200) {
            registro.innerHTML = `<p> 
                                      Usuario Referidor Encontrado: <span class="fw-bolder"> ${data.user[0].nombreCompleto} </span>
                                  </p>
                                  <br>
                                  <button type="button" class="btn btn-warning form-control" data-bs-dismiss="modal">Registarme</button>`;
            spinner.style.display = "none";
            
        } else {
          loadingModal.hide();
            Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Usuario no encontrado en la base de Datos, por favor revisa",
          });
          spinner.style.display = "block";
          return;
        }
      })
      .catch(error => {
        console.error('Error al realizar la solicitud:', error);
      });


  });

     

</script>

<script>
    const registro = document.querySelector("#registro");

    registro.addEventListener("click", () => {
      const nombreCompleto = document.getElementById('nombreCompleto').value;
      const paisResidencia = document.getElementById('paisResidencia').value;
      const numeroDocumento = document.getElementById('numeroDocumento').value;
      const numeroContacto = document.getElementById('numeroContacto').value;
      const correoElectronico = document.getElementById('correoElectronico').value;
      const fechaNacimiento = document.getElementById('fechaNacimiento').value;
      const nombreReferidor = document.getElementById('nombreReferidor').value;
      const pasosCumplidos = document.getElementById('pasosCumplidos').checked;
      const idReferidor = document.querySelector("#idReferidor").value;
      const spinner = document.querySelector("#spinner");

      const jsonData = {
        nombreCompleto,
        paisResidencia,
        numeroDocumento,
        numeroContacto,
        correoElectronico,
        fechaNacimiento,
        nombreReferidor,
        pasosCumplidos,
        idReferidor
        };

        fetch("/front", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if needed
                },
                body: JSON.stringify(jsonData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json(); // Assuming the response is in JSON format
                })
                .then(data => {
                  if (data.code == 200) {
                    window.open('https://comunidadtwogether.com/registrotwogether/', '_blank');
                  } else {
                      loadingModal.hide();
                        Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: data.message,
                      });
                      console.log(data)
                      return;
                    }
                })
                .catch(error => {
                    loadingModal.hide();
                    console.error('Update request failed:', error);
                });
            
    });
</script>

</body>
</html>
